.btn-close-dialog {
  background-color: aqua;
  margin-left: 330px;
  font-family: serif;
}

h1 {
  text-align: center;
  margin-top: 183px;
  font-family: serif;
}


::ng-deep .close-container {
  background-color: rgb(175, 174, 174);
}

.space-under-content-in-dialog {
  margin-top: -242px;
  background-color: rgb(252, 252, 252);
  height: 440px;
  font-family: serif;
  color: rgb(5, 5, 5);
}