<div class="title-container-first-Album">
  <h3>First Album complete</h3>
</div>
<div class="main-photo-display-parent-first-album-container">
  <div class="main-photo-display-first-album-container" *ngFor="let photo of filteredPhotos">
    <mat-card class="album-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{photo.title || "Default Title"}} </mat-card-title>
      </mat-card-header>
      <img mat-card-image class="image-mat" [src]="photo.url || 'assets/default-image.jpg'" alt=" " />
      <mat-card-content>
        <hr />
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button  class="mat-btn-show-Id" (click) = "openDialogToShowId(photo)" > Show Id</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>