mat-form-field {
  margin-right: 12px;
}

.btn-container-for-id {
  display: flex; 
  flex-wrap: nowrap; 
  gap: 12px; 
  overflow-x: auto; 
  align-items: center; 
  margin: 16px 0; 
  height: 100%; 
}

button {
  background-color: rgb(121, 183, 185);
  font-family: serif;
  font-weight: bold;
  height: 42px;
  width: 84px;
  box-sizing: border-box; 
  vertical-align: middle; 

}
