h3 {
    text-align: center;
    font-family: serif;
    font-weight: bold;
}

.main-photo-display-first-album-container {
    background-color: azure;
    display: flex;
}


.main-photo-display-parent-first-album-container {
    background-color: rgb(212, 208, 216);
}

.main-photo-display-first-album-container {
    background-color: rgb(212, 208, 216);
    width: auto;
    justify-content: space-between;
    margin-left: 30%;
}

.album-card {
    height: 420px;
    margin-bottom: 48px;
    margin-top: 48px;
    width: 40dvw;
}

.mat-card-title-class-container {
    font-family: serif;
    font-weight: bold;
    
}

.mat-card-content-class-container {
    border-bottom: 2px solid black;
}
