<div class="top-footer-buttons">
  <button class="btn" (click)="showAllPhotos()">All Albums</button>
  <button class="btn" (click)="showFilteredPhotos([1,40])">Album 1-20</button>
  <button class="btn" (click)="showFilteredPhotos([21, 40])">Album 21-40</button>
  <button class="btn" (click)="showFilteredPhotos([41, 60])">Album 41-60</button>
  <button class="btn" (click)="showFilteredPhotos([61, 80])">Album 61-80</button>
  <button class="btn" (click)="showFilteredPhotos([81, 100])">Album 81-100</button>
</div>
