<div class="topFooterButtons">
  <button class="btnAll" (click)="showAllPhotos()">All Albums</button>
  <button class="btn1-20" (click)="showFilteredPhotos([1,40])">Album 1-20</button>
  <button class="btn21-40" (click)="showFilteredPhotos([21, 40])">Album 21-40</button>
  <button class="btn41-60" (click)="showFilteredPhotos([41, 60])">Album 41-60</button>
  <button class="btn61-80" (click)="showFilteredPhotos([61, 80])">Album 61-80</button>
  <button class="btn81-100" (click)="showFilteredPhotos([81, 100])">Album 81-100</button>
</div>
