a {
    background-color: rgb(121, 183, 185);
    width: 8%;
    height: 52px;
    font-weight: bold;
    font-family: serif;
}

.btn-for-full-album-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(222, 221, 223);
}

.rest-of-the-page-container {
    background-color: rgb(222, 221, 223);
    height: 650px;
}

h2 {
    font-family: serif;
    font-weight: bold;
    text-align: center;
    
}