.btn-first-two-album-or-all-albums {
    width: 84px;
    height: 52px;
    background-color: rgb(121, 183, 185);
    font-weight: bold;
    font-family: serif;
    margin: auto;
    display :block;
}

.btn-for-choosing-display {
    background-color: rgb(121, 183, 185);
}

