.btn-first-two-album-or-all-albums {
    width: 84px;
    height: 52px;
    background-color: rgb(121, 183, 185);
    font-weight: bold;
    font-family: serif;
    margin: auto;
    display :block;
    cursor: pointer;
}

.btn-for-choosing-display {
    background-color: rgb(222, 221, 223);
}

.input-album-id-container {
    margin-left: 42%;
    
}

.search-for-id-btn {
    font-family: serif;
    font-weight: bold;
    height: 4vh;
    width: 4vw;
    margin-left: 2%;
    margin-bottom: 1%;
    border: 2px black solid;
}

.mat-label-container {
    font-family: serif;
}

.search-for-id-form {
    height : 12%;
}

::ng-deep .mat-mdc-raised-button {
    color: rgb(113, 175, 177);
}

.input-error-form-container {
    margin-bottom: 4vh;
    font-family: serif;
    font-weight: bold;
    color: red;;    
}

.albumId-searched-photo {
    font-family: serif;
    text-align: center;
}

@media only screen and (max-width: 1200px) and (min-width: 450px) {
    .search-for-id-btn {
        height: 3vh;
        margin-bottom: 1.5vh;
    }

    .btn-first-two-album-or-all-albums {
        margin-bottom: 1.5vh;
        font-size: large;
        width: 10vw;
        height: 5vh;
    }

}