<div class="photos-container">
  <div class="imageContainer" *ngFor="let photo of photos">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ photo.title || 'Default Title' }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="photo.url || 'assets/default-image.jpg'" alt=" " />
      <mat-card-content>
      <hr>
      </mat-card-content>
      <mat-card-actions class="SnackbarButton">
        <app-snackbar [photo]="photo"></app-snackbar>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
